---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=czjEyzqPUTlQg5vE6pUnsHExJy2rHDaDrlv8ktE-9gw&query=denver,co%20town
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=czjEyzqPUTlQg5vE6pUnsHExJy2rHDaDrlv8ktE-9gw&page=8381&query=denver%2Cco+town>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=czjEyzqPUTlQg5vE6pUnsHExJy2rHDaDrlv8ktE-9gw&page=2&query=denver%2Cco+town>;
        rel="next"
      X-Total:
      - '83806'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":83806,"total_pages":8381,"results":[{"id":"M13IraItVIo","created_at":"2020-03-15T12:32:47-04:00","updated_at":"2020-03-16T05:26:05-04:00","promoted_at":null,"width":5745,"height":3830,"color":"#F3EFEC","description":null,"alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","full":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","regular":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","small":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","thumb":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQ2Nn0"},"links":{"self":"https://api.unsplash.com/photos/M13IraItVIo","html":"https://unsplash.com/photos/M13IraItVIo","download":"https://unsplash.com/photos/M13IraItVIo/download","download_location":"https://api.unsplash.com/photos/M13IraItVIo/download"},"categories":[],"likes":5,"liked_by_user":false,"current_user_collections":[],"user":{"id":"8DPIZXj6JrA","updated_at":"2020-03-23T00:00:48-04:00","username":"sebbykurps","name":"Sebastian
        Kurpiel","first_name":"Sebastian","last_name":"Kurpiel","twitter_username":"Sebbykurps","portfolio_url":null,"bio":"Just
        a software engineer with a passion for photography.\r\nFollow me on Instagram
        at @SebbyKurps, to see more of my adventures","location":null,"links":{"self":"https://api.unsplash.com/users/sebbykurps","html":"https://unsplash.com/@sebbykurps","photos":"https://api.unsplash.com/users/sebbykurps/photos","likes":"https://api.unsplash.com/users/sebbykurps/likes","portfolio":"https://api.unsplash.com/users/sebbykurps/portfolio","following":"https://api.unsplash.com/users/sebbykurps/following","followers":"https://api.unsplash.com/users/sebbykurps/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1570126392756-def09e2b19a1image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1570126392756-def09e2b19a1image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1570126392756-def09e2b19a1image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"SebbyKurps","total_collections":1,"total_likes":3,"total_photos":238,"accepted_tos":true},"tags":[{"type":"search","title":"human"},{"type":"search","title":"pedestrian"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        Images & Pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","created_at":"2017-04-20T18:04:07-04:00","updated_at":"2020-03-21T01:02:34-04:00","promoted_at":"2017-04-21T12:00:49-04:00","width":4630,"height":3087,"color":"#272D35","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=sr[...]
