---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=7bd06b4ee051fb8ce184198aa069c038&lat=39.7392358&lon=-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587478186,"sunrise":1587471164,"sunset":1587519838,"temp":281.84,"feels_like":278.44,"pressure":1018,"humidity":56,"dew_point":273.56,"uvi":8.05,"clouds":75,"visibility":16093,"wind_speed":2.1,"wind_deg":200,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1587477600,"temp":281.84,"feels_like":279.27,"pressure":1018,"humidity":56,"dew_point":273.56,"clouds":75,"wind_speed":0.92,"wind_deg":127,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},{"dt":1587481200,"temp":283.97,"feels_like":280.92,"pressure":1016,"humidity":39,"dew_point":270.88,"clouds":46,"wind_speed":1.03,"wind_deg":99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587484800,"temp":2[...]
