---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<IMAGE_API_KEY>&query=denver,co%20town
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<IMAGE_API_KEY>&page=8381&query=denver%2Cco+town>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<IMAGE_API_KEY>&page=2&query=denver%2Cco+town>;
        rel="next"
      X-Total:
      - '83806'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":83806,"total_pages":8381,"results":[{"id":"M13IraItVIo","created_at":"2020-03-15T12:32:47-04:00","updated_at":"2020-03-16T05:26:05-04:00","promoted_at":null,"width":5745,"height":3830,"color":"#F3EFEC","description":null,"alt_description":null,"urls":{"raw":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","full":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","regular":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","small":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEyODQ2Nn0","thumb":"https://images.unsplash.com/photo-1584289537592-2d14b39c5162?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEyODQ2Nn0"},"links":{"self":"https://api.unsplash.com/photos/M13IraItVIo","html":"https://unsplash.com/photos/M13IraItVIo","download":"https://unsplash.com/photos/M13IraItVIo/download","download_location":"https://api.unsplash.com/photos/M13IraItVIo/download"},"categories":[],"likes":5,"liked_by_user":false,"current_user_collections":[],"user":{"id":"8DPIZXj6JrA","updated_at":"2020-03-23T00:00:48-04:00","username":"sebbykurps","name":"Sebastian
        Kurpiel","first_name":"Sebastian","last_name":"Kurpiel","twitter_username":"Sebbykurps","portfolio_url":null,"bio":"Just
        a software engineer with a passion for photography.\r\nFollow me on Instagram
        at @SebbyKurps, to see more of my adventures","location":null,"links":{"self":"https://api.unsplash.com/users/sebbykurps","html":"https://unsplash.com/@sebbykurps","photos":"https://api.unsplash.com/users/sebbykurps/photos","likes":"https://api.unsplash.com/users/sebbykurps/likes","portfolio":"https://api.unsplash.com/users/sebbykurps/portfolio","following":"https://api.unsplash.com/users/sebbykurps/following","followers":"https://api.unsplash.com/users/sebbykurps/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1570126392756-def09e2b19a1image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1570126392756-def09e2b19a1image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1570126392756-def09e2b19a1image?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"SebbyKurps","total_collections":1,"total_likes":3,"total_photos":238,"accepted_tos":true},"tags":[{"type":"search","title":"human"},{"type":"search","title":"pedestrian"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        Images & Pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","created_at":"2017-04-20T18:04:07-04:00","updated_at":"2020-03-21T01:02:34-04:00","promoted_at":"2017-04-21T12:00:49-04:00","width":4630,"height":3087,"color":"#272D35","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=sr[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Denver, CO
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 21 Apr 2020 15:52:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&lat=39.7392358&lon=-104.990251&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.99,"timezone":"America/Denver","current":{"dt":1587483887,"sunrise":1587471164,"sunset":1587519838,"temp":53.74,"feels_like":48.85,"pressure":1017,"humidity":43,"dew_point":31.84,"uvi":8.05,"clouds":40,"visibility":16093,"wind_speed":2.3,"wind_deg":99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1587481200,"temp":53.74,"feels_like":48.85,"pressure":1017,"humidity":43,"dew_point":31.84,"clouds":40,"wind_speed":2.3,"wind_deg":99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587484800,"temp":56.03,"feels_like":49.89,"pressure":1015,"humidity":32,"dew_point":27.25,"clouds":28,"wind_speed":3.27,"wind_deg":89,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},{"dt":1587488400,"temp":58.46,[...]
